:root {
  --background-color: #161513;
  --blue-gradient: #5badff;
  --primary-color: #ffffff;
  --secondary-color: #8491a0;
  --card-color: #2a2a2a;
}

#header {
  background-color: var(--card-color);
}
.CardMedia {
  display: flex;
  justify-content: center;
}
.card {
  background-color: var(--card-color);
}
#header ul {
  display: flex;
  justify-content: Center;
  gap: 50px;
  padding: 0;
  margin: 0;
  color: var(--primary-color);
  list-style: none;
  width: 100%;
  height: 3rem;
  align-items: center;
}

.photo {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

#profileInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 60px;
  color: var(--primary-color);

  justify-items: center;
}

#profileInfo p {
  height: auto;
  width: 50%;
  color: var(--secondary-color);
  text-align: center;
}

.icon {
  height: 40px;
  width: auto;
}

.iconContainer {
  display: flex;
  gap: 20px;
}

.project-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: red;
}

.projects-grid {
  display: grid;

  width: 100%;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  gap: 30px;
}

#navTabs {
  place-self: center;
  background-color: var(--card-color);
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  color: var(--primary-color);
}
